<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
  </head>
  <body>
    <div class="container">
      <h4>Welcome to the ScrumGame Dashboard</h4>
       
      <form action="#" th:action="@{/initplay}" th:method="post">
          <table class="table">
	        <thead>
	          <tr>
	             <th>User</th>
	             <th>Password</th>
	           </tr>
	        
	        </thead>
	        <tbody>
	          <tr>
	            <td th:text="${user.userName}">user name</td>
	            <td th:text="${user.password}">user password</td>
	           </tr>
	  		</tbody>
	      </table>
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>
	    </div>
	 
	  </body>
	</html>