<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
  </head>
  <body>
    <div class="container">
      <h2 class="text-left">ScrumGame Faculty Dashboard</h2>
  	    
       <form class="form-horizontal" action="#" th:object="${FacultyStudent}" th:action="@{/assign}" th:method="post" >
	    <div class = "form-group">
	       <h4 class="text-center">Student-Faculty assignment tool</h4>
	       	    <div class="form-group">
			      <label for="lblFacultyName">Faculty Member: </label>
			      <input type="text" class="form-control" th:field="*{faculty}" placeholder="Enter faculty member"></input>
			    </div>
			    <div class="form-group">
			      <label for="student">Student:</label>
			      <input type="text" class="form-control" th:field="*{student}" placeholder="Enter student"></input>
			    </div>
			  
			    <div class="form-group">
			    	<button type="submit" class="btn btn-default">OK</button>
				</div>
			</div>
        </form>
      
      <br></br>
      <br></br>
       <br></br> 
      <form class="form-horizontal" action="#" th:action="@{/done}" th:method="post">
       	<div class="form-group">
	       	<h4 class="text-center">Current Student Results: </h4>	
			<table class="table">
			<thead>
			    <tr>
			        <th>Student</th>
			        <th>Level</th>	
			        <th>Score</th>
			   </tr>
			 </thead>
			 <tbody>     
			            
	     		<tr th:each="user : ${users}">   
	       			<td th:text="${user.userName}" > </td>
	       			<td th:text="${user.userDetails.questionaireLevel}" > </td>
	       			<td th:text="${user.userDetails.score}" > </td>
	         	</tr>	
	           
	 		</tbody>
	        </table> 
	        
	         <button type="submit" class="btn btn-default">Exit</button>
	 	
	 	</div>		
     </form>
     </div>
     </body>
	</html>