<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="container">
      <h2>Welcome to the Game</h2>
       <br></br>
 
      <form action="#" th:action="@{/save}" th:object="${Questionaire}" method="post">
            
		
		<div class="form-group">
 				  <label for="sel1" th:text="${Questionaire.question1}" ></label>
			 	  <select class="form-control" th:field="*{question1}" > 
				    <option th:value="${Questionaire.answer1}" th:text="${Questionaire.answer1}" ></option>
				    <option th:value="${Questionaire.answer2}" th:text="${Questionaire.answer2}" ></option>
				    <option th:value="${Questionaire.answer3}" th:text="${Questionaire.answer3}" ></option>
				    <option th:value="${Questionaire.answer4}" th:text="${Questionaire.answer4}" ></option>
				    <option th:value="${Questionaire.answer5}" th:text="${Questionaire.answer5}" ></option>
		
			 	  </select>
			</div>

			<div class="form-group">
			
			  <label for="sel2" th:text="${Questionaire.question2}" ></label>
		 	  <select class="form-control" th:field="*{question2}" >
				    <option th:value="${Questionaire.answer1}" th:text="${Questionaire.answer1}" ></option>
				    <option th:value="${Questionaire.answer2}" th:text="${Questionaire.answer2}" ></option>
				    <option th:value="${Questionaire.answer3}" th:text="${Questionaire.answer3}" ></option>
				    <option th:value="${Questionaire.answer4}" th:text="${Questionaire.answer4}" ></option>
				    <option th:value="${Questionaire.answer5}" th:text="${Questionaire.answer5}" ></option>
			 	  </select>
			</div>
			<div class="form-group">
				  <label for="sel3" th:text="${Questionaire.question3}" ></label>
			 	  <select class="form-control" th:field="*{question3}" > 
		
		 		    <option th:value="${Questionaire.answer1}" th:text="${Questionaire.answer1}" ></option>
				    <option th:value="${Questionaire.answer2}" th:text="${Questionaire.answer2}" ></option>
				    <option th:value="${Questionaire.answer3}" th:text="${Questionaire.answer3}" ></option>
				    <option th:value="${Questionaire.answer4}" th:text="${Questionaire.answer4}" ></option>
				    <option th:value="${Questionaire.answer5}" th:text="${Questionaire.answer5}" ></option>
			 	  </select>
			</div>
			<div class="form-group">
						
				  <label for="sel4" th:text="${Questionaire.question4}" ></label>
			 	  <select class="form-control" th:field="*{question4}" >	    
			 	  <option th:value="${Questionaire.answer1}" th:text="${Questionaire.answer1}" ></option>
				    <option th:value="${Questionaire.answer2}" th:text="${Questionaire.answer2}" ></option>
				    <option th:value="${Questionaire.answer3}" th:text="${Questionaire.answer3}" ></option>
				    <option th:value="${Questionaire.answer4}" th:text="${Questionaire.answer4}" ></option>
				    <option th:value="${Questionaire.answer5}" th:text="${Questionaire.answer5}" ></option>
			 	  </select>
			</div>
			<div class="form-group">
						
				  <label for="sel5" th:text="${Questionaire.question5}" ></label>
			 	  <select class="form-control" th:field="*{question5}" >	    
				    <option th:value="${Questionaire.answer1}" th:text="${Questionaire.answer1}" ></option>
				    <option th:value="${Questionaire.answer2}" th:text="${Questionaire.answer2}" ></option>
				    <option th:value="${Questionaire.answer3}" th:text="${Questionaire.answer3}" ></option>
				    <option th:value="${Questionaire.answer4}" th:text="${Questionaire.answer4}" ></option>
				    <option th:value="${Questionaire.answer5}" th:text="${Questionaire.answer5}" ></option>
			 	  </select>
			
			</div>
       		   
	  		 
	    <button type="submit" class="btn btn-default">Save</button>
	  </form>
	  </div>
	 
	  </body>
	</html>