<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body>
    <div class="container">
      <h4>Welcome to the Game</h4>
       
      <form action="#" th:action="@{/save}" th:method="post">
          <table class="table">
	        <thead>
	          <tr>
	             <th>Question</th>
	             <th>Answer</th>
	           </tr>
	        
	        </thead>
	        <tbody>
	          <tr th:each="questionaire : ${questionaires}">
       	        <td th:text="${questionaire.question}"></td>
       	        <td><input type="text" th:value="${questionaire.answer}" th:name="answer" th:id="answer"/></td>
      		  </tr>
	  		</tbody>
	      </table>
	    <button type="submit" class="btn btn-default">Save</button>
	  </form>
	    </div>
	 
	  </body>
	</html>