<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
	  <h2>Scrum Game Registration</h2> 

	   <form action="#" th:action="@{/register}" th:object="${User}"  th:method="post">
	
	    <div class="form-group">
	      <label for="lblUserName">User Name: </label>
	      <input type="text" th:field="*{userName}" class="form-control"  placeholder="Enter username"></input>
	    </div>
	
	    <div class="form-group">
	      <label for="lblPassword">Password: </label>
	      <input type="text" th:field="*{password}" class="form-control"  placeholder="Enter password"></input>
	    </div>
	
	
	    <div class="form-group">
	      <label for="lblFirstName">First Name: </label>
	      <input type="text" th:field="*{userDetails.firstName}" class="form-control"  placeholder="Enter First Name"></input>
	    </div>
	
	
	    <div class="form-group">
	      <label for="lblLastName">Last Name: </label>
	      <input type="text" th:field="*{userDetails.lastName}" class="form-control"  placeholder="Enter Last Name"></input>
	    </div>
	    
	    <div class="form-group">
	      <label for="lblEmail">Email: </label>
	      <input type="text" th:field="*{userDetails.email}" class="form-control"  placeholder="Enter Email"></input>
	    </div>
	    
	    <!-- TODO - switch to dropdown -->
	    <div class="form-group">
	      <label for="lblUserType"> UserType: </label>
	      <input type="text" th:field="*{userDetails.userType}" class="form-control"  placeholder="Enter User Type ( Student / Faculty )"></input>
	    </div>
	    
	    
	
	
    <div class="form-group">
    	 <button type="submit" class="btn btn-default">Submit</button>
  	</div>
	  </form>  
	</div>

</body> 
</html>

