<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
  </head>
  <body>
    <div class="container">
      <h4>Score</h4>
       
      <form action="#" th:action="@{/score}" th:method="post">
          <table class="table">
	        <thead>
	          <tr>
	             <th>User</th>
	             <th>Score</th>
	           </tr>
	        
	        </thead>
	        <tbody>
	          <tr>
	            <td th:text="${User.userName}"> </td>  
	            <td th:text="${User.UserDetails.score}">score</td>
	           </tr>
	  		
	  		</tbody>
	      </table>
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>
	    </div>
	 
	  </body>
	</html>